* {
      padding: 0;
      margin: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: darkslategray;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
      color: gray;
      font-size: 1.2rem;
      display: inline-block;
      transition: transform 2s ease, color 3s ease;
}

a:hover {
      color: rgb(204, 198, 198);
      transition: all 1s ease;
      transform: scale(0.7);
      text-decoration: underline;
      text-decoration-color: rgb(22, 223, 223);
}

nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      height: 100px;
      align-items: center;
      box-shadow: 0 0 0 2px rgb(22, 223, 223);
      background-color: white;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
}

.add {
      display: flex;
      gap: 15px;
}

nav #loginContainer li {
      background-color: rgb(22, 223, 223);
      padding: 1.3rem;
      border-radius: 50%;
}

nav #loginContainer li a {
      transition: color 1s ease-in-out;
      color: white;
}

nav #loginContainer li a:hover {
      color: blue;
      transform: scale(0.5) rotate(360deg);
      transition: all 1s ease-in-out;
      text-decoration: none;
}

.grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      justify-content: center;
      align-items: center;
}
main{
      /* background-color:aliceblue; */
      max-width: 98%;
      width: 100%;
      padding-top: 120px;
      justify-self: center;
}
.bigCArd{
      display: flex;
      flex-direction: column;
      max-width: 80%;
      width: 100%;
      justify-self: center;
      gap: 0.5rem;
      background-color: hwb(202 83% 3%);
      padding: 1rem 2rem;
      justify-content: center;
      border-radius: 3px;
}
.bigCArd:hover{
      transform: scale(1.001);
      cursor: pointer;
}
.bigCArd p{
      color: rgb(22, 223, 223);
}
.list{
      list-style:outside;
      padding: 0.2rem;
}
